* {
  box-sizing: border-box;
}

html, body {
  font-family: 'CSW01eP-v4', sans-serif;
  height: 100%;
  width:100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-wrapper {
  background: rgba(245, 249, 255, 1);
  flex: 1;
}
