@font-face {
  font-family: "CSW01eP-v4";
  font-weight: 700;
  src: url("./fonts/eot/CSW01eT-Boldv4.eot?#iefix");
  src: url("./fonts/eot/CSW01eT-Boldv4.eot?#iefix") format("eot"), url("./fonts/woff2/CSW01eT-Boldv4.woff2") format("woff2"), url("./fonts/woff/CSW01eT-Boldv4.woff") format("woff"), url("./fonts/ttf/CSW01eT-Boldv4.ttf") format("truetype");
}
@font-face {
  font-family: "CSW01eP-v4";
  font-weight: 400;
  src: url("./fonts/eot/CSW01eT-Romanv4.eot?#iefix");
  src: url("./fonts/eot/CSW01eT-Romanv4.eot?#iefix") format("eot"), url("./fonts/woff2/CSW01eT-Romanv4.woff2") format("woff2"), url("./fonts/woff/CSW01eT-Romanv4.woff") format("woff"), url("./fonts/ttf/CSW01eT-Romanv4.ttf") format("truetype");
}
@font-face {
  font-family: "CSW01eP-v4";
  font-weight: 300;
  src: url("./fonts/eot/CSW01eT-Lightv4.eot?#iefix");
  src: url("./fonts/eot/CSW01eT-Lightv4.eot?#iefix") format("eot"), url("./fonts/woff2/CSW01eT-Lightv4.woff2") format("woff2"), url("./fonts/woff/CSW01eT-Lightv4.woff") format("woff"), url("./fonts/ttf/CSW01eT-Lightv4.ttf") format("truetype");
}
